{% include 'master/user/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block MainContent %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2 justify-content-center">
                    <div class="col-sm-8">
                        <h1 class="m-0">งานทั้งหมด</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form action="{% url 'list_emp_order' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                <input type="search" class="form-control form-control-sm"placeholder="รหัสงาน" name="search_text" value="{{ search_text }}">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-sm btn-default">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>รหัสงาน</th>
                                                <th>หัวข้องาน</th>
                                                <th>รายละเอียดงาน</th>
                                                <th>สถานะ</th>
                                                    <th ></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for key in data %}
                                                <tr>
                                                    <td>{{ key.order_id }}</td>
                                                    <td>{{ key.title }}</td>
                                                    <td>{{ key.desc }}</td>
                                                    {% if key.order_status == 0 %}
                                                        <td><span class="badge badge-pill badge-info">รอรับงาน</span></td>
                                                    {% elif key.order_status == 1 %}
                                                        <td>
                                                            <span class="badge badge-pill badge-success">
                                                            ดำเนินการซ่อม
                                                            </span>
                                                        </td>
                                                    {% elif key.order_status == 2 %}
                                                        <td><span class="badge badge-pill badge-warning">รอการชำระเงิน</span></td>
                                                    {% elif key.order_status == 3 %}
                                                        <td><span class="badge badge-pill badge-warning">รอยืนยันการชำระเงิน</span></td>
                                                     {% elif key.order_status == 4 %}
                                                        <td><span class="badge badge-pill badge-success">ปิดงาน</span></td>
                                                    {% else %}
                                                        <td><span class="badge badge-pill badge-danger">ยกเลิกงาน</span></td>
                                                    {% endif %}
                                                    <td class="text-center">
                                                        <a href="{% url 'view_emp_order' key.order_id %}" class="btn btn-info">
                                                            ดูข้อมูล
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% bootstrap_pagination data %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
{% endblock %}
