{% include 'master/cus/base.html' %}
{% load static %}

{% block content %}
    <div class="main-wrapper cart-drawer-push">
        {% include 'master/cus/header.html' %}
        <main class="main-content">

            <div class="ymm-slideshow position-relative sections-spacing">
                <div class="slideshow slideshow-banner">
                    <div class="single-slide slider-height bg-style d-flex align-items-center"
                         style="background-image:url({% static 'images/1.png' %});">

                    </div>
                    <div class="single-slide slider-height bg-style d-flex align-items-center"
                         style="background-image:url({% static 'images/2.png' %});">

                    </div>
                    <div class="single-slide slider-height bg-style d-flex align-items-center"
                         style="background-image:url({% static 'images/3.png' %});">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="title-btn clearfix">
                    <div class="section-header">
                        <h2>รายการซ่อมเสร็จ</h2>
                    </div>
                </div>
            </div>
            <div class="home-collection  sections-spacing">
                <div class="container-fluid p-0">
                    <div class="row no-gutters home-collection-prcarousel">
                        {% for key in order_data_success %}
                            <div class="col collection-item">
                                <div class="animate-scale collection-img">
                                    <img class="img-fluid blur-up lazyload " src="{% static key.order_img %}"
                                         style="width:381px; height:286px"/>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="popular-product sections-spacing">
                <div class="container">
                    <div class="title-btn clearfix">
                        <div class="section-header">
                            <h2>รายการแจ้งชำรุดล่าสุด</h2>

                        </div>
                    </div>
                    <div class="row row-sp row-eq-height">
                        {% for key in order_data_news %}
                            <div class="col-sp col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                                <div class="product-item">
                                    <div class="product-image-action">
                                        <div class="product-image">
                                            <div>
                                                <img class="img-fluid blur-up lazyload" src="{% static key.order_img %}"
                                                     style="width:381px; height:286px"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </main>


        {% include 'master/cus/footer.html' %}
        <div id="scrollTop"><i class="ti-arrow-up"></i></div>
        <div class="overlay"></div>
    </div>
    {% include 'master/cus/javaScipt.html' %}
{% endblock %}
